{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/extensions": [".js", ".jsx", ".ts", ".tsx"],
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "typescript": {
        "project": "tsconfig.json"
      }
    }
  },
  "extends": [
    "standard",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:promise/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:import/errors",
    "plugin:import/typescript",
    "prettier",
    "plugin:prettier/recommended",
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": [
    "react",
    "react-hooks",
    "@typescript-eslint",
    "promise",
    "prettier",
    "jsx-a11y",
    "@typescript-eslint/eslint-plugin",
    "eslint-plugin-testing-library",
    "eslint-plugin-jest-dom"
  ],
  "rules": {
    "react/jsx-filename-extension": [
      "error",
      { "extensions": [".ts", ".tsx"] }
    ],
    "@typescript-eslint/no-unused-vars": "error",
    "@typescript-eslint/no-explicit-any": "off",
    "no-magic-numbers": "warn",
    "jsx-a11y/anchor-is-valid": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/prop-types": "off",
    "react/react-in-jsx-scope": "off",
    "@typescript-eslint-in-jsx-scope": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "space-before-function-paren": "off",
    "eslint-disable-next-line": "off",
    "react/display-name": "off",
    "prettier/prettier": "error"
  },
  "overrides": [
    {
      "files": ["*.stories.@(tsx|js|jsx)"],
      "rules": {
        "storybook/hierarchy-separator": "error"
      },
      "extends": ["plugin:storybook/recommended"]
    }
  ]
}
